<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Index - Nova Bootstrap Template</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

 <!-- Favicons -->
<link href="{{ url_for('static', filename='assets/img/favicon.png') }}" rel="icon">
<link href="{{ url_for('static', filename='assets/img/apple-touch-icon.png') }}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
<link href="{{ url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='assets/vendor/aos/aos.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='assets/vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

  

<!-- Main CSS File -->
<link href="{{ url_for('static', filename='assets/css/main.css') }}" rel="stylesheet">

</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center fixed-top" >
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="{{ url_for('home') }}" class="logo d-flex align-items-center" style="max-height: 50px;">
        <img src="{{ url_for('static', filename='assets/img/logo.png') }}" alt="Logo">
       <!-- <h1 class="sitename">VISUALFIRM</h1> -->
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="{{ url_for('home') }}" class="active">Pagina Principal<br></a></li>
          <li><a href="{{ url_for('about') }}">Acerca de</a></li>
          <li><a href="{{ url_for('analisis') }}">Análisis de Archivos (ELA)</a></li>
          <li><a href="{{ url_for('team') }}">Nuestro equipo</a></li>
          <li class="dropdown"><a href="#"><span>Blog</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="#">Guías y Tutoriales</a></li>
              <li class="dropdown"><a href="#"><span>Deep Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                  <li><a href="#">Deep Dropdown 1</a></li>
                  <li><a href="#">Deep Dropdown 2</a></li>
                  <li><a href="#">Deep Dropdown 3</a></li>
                  <li><a href="#">Deep Dropdown 4</a></li>
                  <li><a href="#">Deep Dropdown 5</a></li>
                </ul>
              </li>
              <li><a href="#">Preguntas Frecuentes ❓</a></li>
              
            </ul>
          </li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">
      
      <img src="{{ url_for('static', filename='assets/img/Fondo.png') }}" alt="" data-aos="fade-in">

      <div class="container">
        <div class="row">
          <div class="col-xl-4">
            <h1 data-aos="fade-up">Tu herramienta avanzada para análisis forense de imágenes</h1>
            <blockquote data-aos="fade-up" data-aos-delay="100">
              <p>VisualFirm te ayuda a detectar manipulaciones visuales, validar imágenes y garantizar su autenticidad mediante técnicas avanzadas de análisis forense. Protege la confianza en tus evidencias digitales con precisión y eficiencia. </p>
            </blockquote>
            <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
              <a href="#about" class="btn-get-started" style="background: rgba(199, 86, 49, 0.952);">Get Started</a>
            </div>
          </div>
        </div>
      </div>

    </section><!-- /Hero Section -->

    <!-- Why Us Section -->
    <section id="why-us" class="why-us section">

      <div class="container">

        <div class="row g-0">

          <div class="col-xl-5 img-bg" data-aos="fade-up" data-aos-delay="100">
            <img src="{{ url_for('static', filename='assets/img/Forenc.jpg') }}" alt="">
          </div>

          <div class="col-xl-7 slides position-relative" data-aos="fade-up" data-aos-delay="200">

            <div class="swiper init-swiper">
              <script type="application/json" class="swiper-config">
                {
                  "loop": true,
                  "speed": 600,
                  "autoplay": {
                    "delay": 5000
                  },
                  "slidesPerView": "auto",
                  "centeredSlides": true,
                  "pagination": {
                    "el": ".swiper-pagination",
                    "type": "bullets",
                    "clickable": true
                  },
                  "navigation": {
                    "nextEl": ".swiper-button-next",
                    "prevEl": ".swiper-button-prev"
                  }
                }
              </script>
              <div class="swiper-wrapper">

                <div class="swiper-slide">
                  <div class="item">
                    <h3 class="mb-3">Tecnología de Vanguardia</h3>
                    <h4 class="mb-3">Contamos con herramientas avanzadas para detectar manipulaciones:</h4>
                    <p>Con VisualFirm, detecta manipulaciones y verifica la integridad de imágenes utilizando herramientas avanzadas de análisis forense. Confía en la precisión de tu evidencia digital.</p>
                  </div>
                </div><!-- End slide item -->

                <div class="swiper-slide">
                  <div class="item">
                    <h3 class="mb-3">Herramientas Principales</h3>
                    <h4 class="mb-3">Tecnología Avanzada al Servicio de la Verificación</h4>
                    <p>Utilizamos herramientas clave como análisis de Geo Tags, Error Level Analysis (ELA) y extracción de metadatos para garantizar resultados confiables y precisos.</p>
                  </div>
                </div><!-- End slide item -->

                <div class="swiper-slide">
                  <div class="item">
                    <h3 class="mb-3">Herramientas Principales</h3>
                    <h4 class="mb-3">Tecnología Avanzada al Servicio de la Verificación</h4>
                    <p>Descubre cómo nuestras soluciones forenses pueden ayudarte a detectar fraudes y asegurar la autenticidad de tus imágenes. ¡Regístrate y prueba VisualFirm ahora!</p>
                  </div>
                </div><!-- End slide item -->

                <div class="swiper-slide">
                  <div class="item">
                    <h3 class="mb-3">Llamado a la Acción</h3>
                    <h4 class="mb-3">Empieza a Usar VisualFirm Hoy</h4>
                    <p>Descubre cómo nuestras soluciones forenses pueden ayudarte a detectar fraudes y asegurar la autenticidad de tus imágenes. ¡Regístrate y prueba VisualFirm ahora!</p>
                  </div>
                </div><!-- End slide item -->

              </div>
              <div class="swiper-pagination"></div>
            </div>

            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>

        </div>

      </div>

    </section><!-- /Why Us Section -->

    <!-- Services Section -->
    <section id="services" class="services section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>¿Qué ofrecemos?</h2>
        <p>Soluciones avanzadas de análisis forense para garantizar la autenticidad de tus imágenes digitales.</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="icon flex-shrink-0"><i class="bi bi-briefcase" style="color: #f57813;"></i></div>
            <div>
              <h4 class="title">Análisis de Geo Tags</h4>
              <p class="description">Extraemos y verificamos datos de ubicación GPS incrustados en imágenes para detectar posibles inconsistencias y fraudes</p>
              <a href="#" class="readmore stretched-link"><span>Más información →</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div>
          <!-- End Service Item -->

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="icon flex-shrink-0"><i class="bi bi-card-checklist" style="color: #15a04a;"></i></div>
            <div>
              <h4 class="title">Detección de Manipulaciones (ELA)</h4>
              <p class="description">Aplicamos Análisis de Niveles de Error (ELA) para identificar ediciones y alteraciones ocultas en imágenes digitales.</p>
              <a href="#" class="readmore stretched-link"><span>Más información →</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="300">
            <div class="icon flex-shrink-0"><i class="bi bi-bar-chart" style="color: #d90769;"></i></div>
            <div>
              <h4 class="title">Extracción de Metadatos</h4>
              <p class="description">Analizamos metadatos para obtener información técnica como fecha, dispositivo y software de creación de la imagen.</p>
              <a href="#" class="readmore stretched-link"><span>Más información →</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="400">
            <div class="icon flex-shrink-0"><i class="bi bi-binoculars" style="color: #15bfbc;"></i></div>
            <div>
              <h4 class="title">Validación de Imágenes en Tiempo Real</h4>
              <p class="description">Brindamos un análisis rápido y eficiente de imágenes para confirmar su autenticidad en investigaciones y auditorías.</p>
              <a href="#" class="readmore stretched-link"><span>Más información →</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="500">
            <div class="icon flex-shrink-0"><i class="bi bi-brightness-high" style="color: #f5cf13;"></i></div>
            <div>
              <h4 class="title">Informe Forense Detallado</h4>
              <p class="description">Generamos reportes detallados que documentan los hallazgos del análisis, facilitando su uso como evidencia.</p>
              <a href="#" class="readmore stretched-link"><span>Más información →</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="600">
            <div class="icon flex-shrink-0"><i class="bi bi-calendar4-week" style="color: #1335f5;"></i></div>
            <div>
              <h4 class="title">Consultoría Personalizada</h4>
              <p class="description">Ofrecemos asesoría especializada en análisis forense y detección de deepfakes para instituciones y empresas.</p>
              <a href="#" class="readmore stretched-link"><span>Más información →</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>

    </section><!-- /Services Section -->

    <!-- Call To Action Section -->
    <section id="call-to-action" class="call-to-action section dark-background">

      <img src="{{ url_for('static', filename='assets/img/Forence2.jpg') }}" alt="">

      <div class="container">
        <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-xl-10">
            <div class="text-center">
              <h3>¡Empieza a Validar Imágenes con Precisión!</h3>
              <p>Protege la autenticidad de tus imágenes con nuestras herramientas avanzadas de análisis forense. Detecta manipulaciones, extrae metadatos y asegura la integridad de tus evidencias visuales en segundos.</p>
              <a class="cta-btn" href="#" style="background: rgb(227 82 32);" >Prueba VisualFirm Gratis</a>
            </div>
          </div>
        </div>
      </div>

    </section><!-- /Call To Action Section -->

    <!-- Features Section -->
    <section id="features" class="features section">

      <div class="container">
        <div class="row">
          <div class="col-lg-7" data-aos="fade-up" data-aos-delay="100">
            <h3 class="mb-0">Funciones Poderosas para la </h3>
            <h3>Autenticidad Digital</h3>

            <div class="row gy-4">

              <div class="col-md-6">
                <div class="icon-list d-flex">
                  <i class="bi bi-eye" style="color: #ff8b2c;"></i>
                  <span>Extrae y valida la ubicación GPS de imágenes digitales para garantizar su procedencia.</span>
                </div>
              </div><!-- End Icon List Item-->

              <div class="col-md-6">
                <div class="icon-list d-flex">
                  <i class="bi bi-infinity" style="color: #5578ff;"></i>
                  <span>Identifica manipulaciones y alteraciones ocultas mediante un análisis detallado de errores.</span>
                </div>
              </div><!-- End Icon List Item-->

              <div class="col-md-6">
                <div class="icon-list d-flex">
                  <i class="bi bi-mortarboard" style="color: #e80368;"></i>
                  <span>Recupera información técnica oculta, como fechas, software y dispositivos utilizados.</span>
                </div>
              </div><!-- End Icon List Item-->

              <div class="col-md-6">
                <div class="icon-list d-flex">
                  <i class="bi bi-star" style="color: #ffa76e;"></i>
                  <span>Proporciona resultados rápidos y confiables para validar imágenes en cuestión de segundos.</span>
                </div>
              </div><!-- End Icon List Item-->

              <div class="col-md-6">
                <div class="icon-list d-flex">
                  <i class="bi bi-x-diamond" style="color: #11dbcf;"></i>
                  <span>Genera informes completos y listos para ser utilizados como evidencia digital en investigaciones.</span>
                </div>
              </div><!-- End Icon List Item-->

              <div class="col-md-6">
                <div class="icon-list d-flex">
                  <i class="bi bi-camera-video" style="color: #4233ff;"></i>
                  <span>Facilita el uso de herramientas avanzadas con una interfaz amigable para cualquier usuario.</span>
                </div>
              </div><!-- End Icon List Item-->
            </div>
          </div>
          <div class="col-lg-5 position-relative" data-aos="zoom-out" data-aos-delay="200">
            <div class="phone-wrap">
              <!--<img src="assets/img/wepa.webp" alt="Image" class="img-fluid" style="width: 340px;">-->
            </div>
          </div>
        </div>

      </div>

      <div class="details">
        <div class="container">
          <div class="row">
            <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
              <h4>Descubre la Precisión de<br>VisualFirm</h4>
              <p>Optimiza tus procesos de análisis forense y garantiza la autenticidad de tus imágenes digitales con nuestras herramientas avanzadas.</p>
              <a href="#about" class="btn-get-started" style="background: rgb(227 82 32);">Empieza Ahora</a>
            </div>
          </div>
        </div>
      </div>

    </section><!-- /Features Section -->

    <!-- Recent Posts Section -->
      
  </main>

  <footer id="footer" class="footer light-background">

    <div class="footer-top">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-about">
            <a href="index.html" class="logo d-flex align-items-center">
              <span class="sitename">Nova</span>
            </a>
            <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus.</p>
            <div class="social-links d-flex mt-4">
              <a href=""><i class="bi bi-twitter-x"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Terms of service</a></li>
              <li><a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><a href="#">Web Design</a></li>
              <li><a href="#">Web Development</a></li>
              <li><a href="#">Product Management</a></li>
              <li><a href="#">Marketing</a></li>
              <li><a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
            <h4>Contact Us</h4>
            <p>A108 Adam Street</p>
            <p>New York, NY 535022</p>
            <p>United States</p>
            <p class="mt-4"><strong>Phone:</strong> <span>+1 5589 55488 55</span></p>
            <p><strong>Email:</strong> <span>info@example.com</span></p>
          </div>

        </div>
      </div>
    </div>

    <div class="container copyright text-center">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">Nova</strong> <span>All Rights Reserved</span></p>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> Distributed by <a href="https://themewagon.com">ThemeWagon</a>
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

 <!-- Vendor JS Files -->
<script src="{{ url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/vendor/php-email-form/validate.js') }}"></script>
<script src="{{ url_for('static', filename='assets/vendor/aos/aos.js') }}"></script>
<script src="{{ url_for('static', filename='assets/vendor/glightbox/js/glightbox.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/vendor/imagesloaded/imagesloaded.pkgd.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>

<!-- Main JS File -->
<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>



</body>

</html>